.productInfo__container {
    background-color: white;
    color: var(--purple-8);
}

.productInfo__title {
    font: var(--body-bold-36);
    padding: 1rem;
    margin: 0;
    color: #705AC7;
}

.productInfo__title--complement {
    font: var(--body-bold-16);
}

.productInfo__table {
    margin: 2rem 0 .75rem 0;
    text-align: center;
}

.productInfo__table .productInfo__table--timeText {
    vertical-align: middle;
    font: var(--body-bold-14);
}

.productInfo__table--benefitText {
    vertical-align: middle;
    font: var(--body-regular-14);
}

.productInfo__disclaimerText {
    font: var(--caption-regular-10)
}