.cardList__container > * {
    margin-bottom: 3rem;
}

.card__container {
    color: var(--purple-8);
}

.card__imageContainer {
    overflow: hidden;
}

.card__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card__title {
    font: var(--body-regular-14);
    margin: 0;
}

.card__text {
    font: var(--body-bold-18);
}

.card__buttonContainer {
    padding-top: 0;
}

.card__link {
    cursor: pointer;
    text-decoration: none;
}