<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-9 mx-auto">
                <div class="row error__container">
                    <div class="col-12">
                        <!-- <div class="row">
                            <div class="col-12 catalogue__titleContainer">
                                <h2 class="catalogue__title">CATÁLOGO: REDES SOCIALES</h2>
                            </div>
                        </div> -->
                        <div class="row message__container">
                            <div class="col-5 message__container--description">
                                <span class="message__interjection">OOPS!</span>
                                <span class="message__info">Página no encontrada</span>
                                <p class="message__description">
                                    Parece que hay un problema. Lamentamos el inconveniente causado. Estamos trabajando para solucionarlo. Sin mebargo, puedes seguir comprando otros productos. 
                                </p>
                                <div>
                                    <button (click)="goToHome()" class="btn btn-light">IR A HOME</button>
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="message__imageContainer">
                                    <img class="message__image" src="./assets/images/error-404.svg" alt="Error image with error code" width="300">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>