.header,
.header__container {
    background-color: var(--purple-5);
    height: var(--header-size);
}

.header__content {
    height: var(--header-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__icon {
    color: var(--purple-4);
    font-size: 1.25rem;
    margin-right: .5rem;
}